.home-wrapper {
  h1 {
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 96px 0 8px;
  }
  h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 48px 0 8px;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 32px 0 8px;
  }
  h4 {
    font-size: 0.833em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 24px 0 8px;
    color: $white-40;
  }

  section {
    padding: 72px 64px;
  }
  .container {
    padding: 0 24px;
  }
}
.home-wrapper.top {
  header {
    background: transparent;
  }
}

#banner {
  background-image: url('./static/header-bg.jpg');
  background-size: cover;
  background-position: center;
  color: $white;

  p {
    color: $white-40;
  }
  button {
    border: 2px solid transparent;
    @include linearGradientH(border-image, $primary, $secondary);
    border-image-slice: 2;
    background: rgba(0, 173, 230, 0.1);
    width: 214px;
    height: 52px;
    margin: 56px 0;
    transition: background 500ms;
  }
  button:hover {
    background: rgba(0, 173, 230, 0.3);
  }
}

#features {
  background-image: url('./static/laptop.jpg');
  background-size: 683px;
  background-repeat: no-repeat;
  background-position: right center;

  .container {
    padding-right: 628px;
  }

  h2, h3 {
    color: $black-20;
  }

}

#highlights {
}

#footer {
  background-image: url('./static/footer-pattern.gif');
  background-size: 32px;
  background-repeat: repeat;
  color: $white;

  .logo {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
    margin-bottom: 24px;
    opacity: 0.6;
    font-weight: 300;
  }
}
