* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif!important;
}
header {
  background: #fff;
  height: 64px;
  position: relative;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  line-height: 32px;
  line-height: 64px;
}
header .links {
  float: right;
  margin-top: 8px;
}
a {
  text-decoration: none;
  color: #108188;
  display: inline-block;
  line-height: 1em;
  border-bottom: solid 0 #108188;
}
a:focus {
  color: #108188;
  font-weight: bold;
}
a:hover {
  padding-bottom: 4px;
  margin-bottom: -8px;
  border-bottom-width: 4px;
}
button:focus, input:focus {
  outline: none;
}
#logo {
  color: #000;
  font-weight: 100;
  font-size: 24px;
  margin-left: 24px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
}
.fullheight {
  height: 100vh;
  max-height: 100%;
}
.flexbox--row {
  display: flex;
  flex-direction: row;
}
.flexbox--column {
  display: flex;
  flex-direction: column;
}
.flexbox-item {
  position: relative;
  flex: 0 1 auto;
}
.flexbox-item--fill {
  position: relative;
  flex: 1 1 auto;
}
.toc {
  padding: 24px;
  width: 240px;
  list-style: none;
}
.toc li {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .flexbox--row {
    display: block;
  }
  .toc {
    width: 100%;
  }
}
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  margin: 24px;
  z-index: 99;
  list-style: none;
}
.tabs li {
  display: inline;
  margin-left: -1px;
}
.tabs button {
  background: #fff;
  padding: 4px 8px;
  border: solid 1px #ccc;
  cursor: pointer;
}
.tabs button:hover {
  background: #222;
  color: #fff;
  border-color: #000;
}
.tab {
  display: none;
  overflow-y: auto;
}
.tab.active {
  display: block;
}
.markdown {
  padding: 24px 12px;
}
.demo .tab .markdown {
  padding-top: 72px;
}
.options-panel {
  background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 24px;
}
.options-panel .input {
  float: left;
  width: 60px;
  margin: 4px;
}
.options-panel label {
  text-transform: uppercase;
  display: block;
  color: #fff;
  margin-bottom: 4px;
}
.options-panel input {
  display: block;
  width: 100%;
  height: 20px;
  border: solid 1px #ccc;
}
/* code highlighting */
code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;}
code .c { color: #969896; font-style: italic } /* Comment */
code .d { color: #969896; font-style: italic } /* JSDoc */
code .k { color: #ed6a43; font-weight: bold } /* Keyword */
code .v { color: #0086b3 } /* Number */
code .s { color: #183691 } /* String */
code .i { color: #a71d5d } /* Template interpolation */
code .r { color: #009926 } /* Regex */
code .o { color: #a71d5d; font-weight: bold } /* Operator */
code .p { color: #a71d5d; } /* Punctual symbol */
code .f { color: #795da3; font-weight: bold } /* Function */
